# --- Directorios de Construcción (Obligatorio ignorar) ---
target/
allure-results/
allure-report/
out/

# --- Maven Wrapper (Archivos que SÍ queremos en GitHub) ---
# Primero ignoramos la carpeta .mvn para estar seguros
.mvn/
# Pero obligamos a Git a que SÍ incluya el jar y las propiedades
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# --- IntelliJ IDEA ---
# Ignoramos la carpeta completa, es mucho más limpio
.idea/
*.iml
*.iws
*.ipr

# --- Sistema ---
*.log
.DS_Store